@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";
@import "mixins";
@import "animation";
@import "manna";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    // color: #505655;
    // @apply transition-all;
    line-height: normal;
    background-repeat: no-repeat;
}

.hr {
    height: 1px;
    width: 100%;
}

.carosolBtn {
    @apply absolute top-1/2 -translate-y-1/2 p-3 rounded-full flex items-center justify-center;
    color: #155147;

    span {
        @apply h-8 w-8;
    }

    // &.backBtn {
    //     left: calc(-100% - 2rem);
    // }
}

.hidden {
    display: none !important;
}

.padding-l {
    padding-left: 7rem;
}

.padding-r {
    padding-right: 7rem;
}

.padding {
    @extend .padding-l, .padding-r;
}

input,
textarea {
    background-color: transparent;
    border: none;
    min-width: 10px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: currentColor;
    }
}

.header-bg {
    background: #05241ede;
}

.searchBox {
    // width: 20rem;
    height: 3rem;
    padding: 0.375rem;
    border: 1px solid #0000002b;
    background: #ffffff94;
    border-radius: 0.75rem;
    @apply flex items-center;

    input {
        @apply text-sm w-full pl-4;
        color: currentColor;
    }

    button {
        @apply h-10 w-10 rounded-full flex items-center justify-center;
        background: #155147eb;
        color: white;
        flex-shrink: 0;
    }
}

.header-bg {
    background: #05241EDE;

}

header {
    padding: 1.652rem 2.125rem;

    @apply flex items-center justify-between top-0 left-0 w-full z-50;

    .left {
        @apply flex items-center gap-9;
    }

    nav {
        @apply flex items-center relative;
        gap: 0.875rem;

        .navlinks {
            @apply flex items-center cursor-pointer;
            color: white;

            &:hover {
                color: #03bfa1;
            }

            span {
                @apply transition-all;
            }

            .nav-submenu {
                @apply py-4 rounded-md shadow-md absolute top-full w-fit;
                background-color: white;

                ul {
                    li {
                        white-space: nowrap;
                        @apply cursor-pointer px-4 py-1;
                        color: #505655;

                        &:hover {
                            background-color: #03bfa1;
                            color: white;
                        }
                    }
                }
            }
        }

        .toggle {
            background-color: white;
            color: #505655;
            @apply relative flex items-center cursor-pointer gap-2;
            // overflow: hidden;

            .text {
                position: relative;
                z-index: 2;
                font-size: 0.75rem;
                font-weight: 500;
                // line-height: 14.19px;
                text-align: left;
            }

            input:checked+.toggleSlider {
                @apply left-1/2;

                // .bg {
                //     box-sizing: content-box;
                //     padding-left: 8px;
                // }
            }

            .toggleSlider {
                @apply absolute rounded-full transition-all p-1 left-0 top-0 h-full w-1/2;
                background-color: white;
                // box-sizing: content-box;

                .bg {
                    background: #03bfa1;
                    @apply h-full rounded-full w-full;
                    // @apply h-full rounded-full w-1/2;
                }
            }
        }

        .loginBtn {
            padding: 0.375rem 1.125rem;
            border: 1px solid #fffbfb63;
            @apply rounded-full;
            color: white;

            &:hover {
                background-color: #03bfa1;
            }
        }

        .hamburgerBtn {
            @apply h-10 w-10;
            color: white;
        }
    }
}

.home-banner {
    @apply w-full flex flex-col items-center pb-24 justify-end;
    height: 40rem;
    background: url("../asset/images/banner1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    h1 {
        font-family: "Kaisei HarunoUmi";

        font-size: 55px;
        font-weight: 700;
        text-align: center;
        // filter: drop-shadow(2px 4px 7px 0px #0000004F);
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    }

    h3 {
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        // filter: drop-shadow(2px 4px 7px 0px #0000004F);
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    }

    .latestProject {
        @apply flex items-center gap-6;

        p {
            font-size: 29px;
            font-weight: 500;
            line-height: 37.41px;
            text-align: left;
        }

        .btns {
            @apply flex items-center gap-2.5;

            .projectBtn {
                border: 1px solid #03bfa1;
                font-size: 10px;
                font-weight: 500;
                line-height: 12.9px;
                padding: 0.375rem 0.875rem;
                color: #155147;
                background-color: white;
                @apply rounded-full flex items-center justify-center;

                &.active,
                &:hover {
                    background: #0a4339c9;
                    color: white;
                    border-color: white;
                }
            }
        }
    }
}

.featured-projects-banner {
    @apply w-full pt-6 pb-12;

    h3 {
        font-size: 2.25rem;
        color: #000000;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: 0.75rem;
        text-decoration-color: #03bfa1;
        @apply mb-8;
    }

    p {
        color: #505655;
        font-size: 1.25rem;
        @apply mb-10;
    }

    .projects_slider {
        @apply flex gap-6 items-center h-max justify-between w-full relative;



        .Featured_Project_Card {
            width: 17.5rem;

            img {
                @apply w-full object-contain rounded-2xl;
                box-shadow: -5px 4px 28px 0px #00000040;
            }

            .content {
                padding: 1.75rem 0.375rem 0rem 0.375rem;

                p {
                    @apply mb-0;
                }

                .title {
                    color: #155147;

                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .location {
                    font-size: 1.25rem;
                    font-weight: 400;
                    color: #000000;
                }

                .price {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #03bfa1;
                }
            }
        }
    }
}

.assignments-sales-banner {
    @apply w-full pt-6 pb-12;
    background: #ededed99;

    h3 {
        font-size: 2.25rem;
        color: #000000;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: 0.75rem;
        text-decoration-color: #03bfa1;
    }

    .viewMoreBtn {
        font-size: 1.5rem;
        color: #000000;
        @apply flex items-end;

        span {
            @apply h-6 w-6 ml-2;
            color: #155147;

            svg {
                transition: none;
            }
        }

        &:hover {
            color: #03bfa1;

            span {
                color: #03bfa1;
                @apply translate-x-2;
            }
        }
    }

    .assignments-salesBox {
        @apply grid lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5;

        .Assignments_Sales_Card {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            height: 300px;
            @apply flex flex-col justify-between w-full;
            border-radius: 45px 45px 0px 45px;

            .top {
                @apply mt-6 pr-6 flex items-center gap-2.5 justify-end;

                button {
                    @apply h-7 w-7 rounded-full flex items-center justify-center;
                    color: white;
                    background-color: #1a2523cc;

                    span {
                        @apply h-4 w-4;
                    }
                }
            }

            .bottom {
                @apply p-3;
                border-radius: 0px 45px 0px 43px;
                background: #FFFFFFF0;

                .title {
                    font-size: 1.125rem;
                    font-weight: 700;
                    @apply mb-1;
                }

                .location {
                    font-size: .975rem;
                    @apply mb-2;
                }

                .details-box {
                    @apply flex items-center py-1;

                    .details {
                        @apply px-1;

                        span {
                            display: inline-block;
                            height: .75rem;
                            width: .75rem;

                            svg {
                                color: #9ca3af;
                            }
                        }

                        p {
                            font-size: .75rem;
                            color: #9ca3af;

                        }

                        &:not(:last-child) {
                            @apply border-r-2 border-[#9ca3af];
                        }
                    }
                }

                .ratting {
                    span {
                        display: inline-block;
                        height: 1.125rem;
                        width: 1.125rem;
                        color: yellow;
                    }

                    p {
                        font-size: .625rem;
                        font-weight: 600;
                    }
                }
            }
        }

        text-underline-offset: 0.75rem;
        text-decoration-color: #03bfa1;
        // @apply mb-24;
    }
}

// Builder Scss
.builder {

    // display: flex;
    // padding: 3rem;
    font-family: Roboto;
    @apply grid grid-cols-5 gap-9 mt-10;
    @extend .padding;

    .left {
        @apply col-span-3;

        // border: 1px solid red;
        .tags {
            display: flex;
            justify-content: space-between;
            padding-right: 2rem;
            font-weight: 500;
        }

        .tagdetails {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 0.5px solid lightgray;
            margin-top: 2rem;
            border-radius: 15px;
            padding: 0.5rem 0.2rem 0.5rem 0.5rem;

            .name {
                font-weight: 500;
            }

            .dropdown {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                position: relative;
                cursor: pointer;

                .nav-submenu {
                    @apply py-4 rounded-md shadow-md absolute top-full w-fit;
                    background-color: white;

                    ul {
                        li {
                            white-space: nowrap;
                            @apply cursor-pointer px-4 py-1;
                            color: #505655;

                            &:hover {
                                background-color: #03bfa1;
                                color: white;
                            }
                        }
                    }
                }

                .btn {
                    font-size: 0.6rem;
                    color: white;
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    background: #ff8a00;
                }

                .arrow {
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 6px solid black;
                }
            }
        }

        .cards {
            display: flex;
            flex-direction: column;

            .builder_card {
                position: relative;

                &:not(:last-child) {

                    border-bottom: 1px solid lightgray;
                }

                .card {
                    display: flex;
                    @apply my-4;

                    img {
                        width: 14rem;
                        height: 8rem;
                        border-radius: 5px;
                    }

                    .content {
                        // border: 1px solid red;
                        display: flex;
                        flex-direction: column;
                        padding: 0rem 0.5rem;
                        gap: 0.5rem;

                        .title {
                            font-family: "circular";
                            font-size: 1rem;
                        }

                        .price {
                            color: #2f3c3a;
                            font-family: "circular";
                            font-size: 0.9rem;
                        }

                        .desc {
                            color: gray;
                            font-family: "circular";
                            font-size: 0.6rem;
                        }
                    }
                }
            }

            // .builder_card::after {
            //     content: "";
            //     width: 36rem;
            //     height: 0.5px;
            //     background: lightgray;
            //     left: 1rem;
            //     position: absolute;
            // }
        }
    }

    .right {
        @apply col-span-2;

        .card {
            background: #d4f4ef;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 3rem 0;
            border-radius: 10px;

            .title {
                display: flex;
                align-items: center;
                padding: 1rem 0rem 1rem 3rem;

                .imgContainer {
                    position: relative;
                    overflow: hidden;
                    width: 5rem;
                    height: 1.5rem;

                    img {
                        width: 5rem;
                        position: absolute;
                        clip: rect(0px, 1.5rem, 2rem, 0px);
                    }
                }

                .text {
                    position: relative;
                    right: 3.2rem;
                    font-weight: 600;
                }
            }

            .subtitle {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #2f3c3a;
                gap: 0.2rem;

                .text {
                    font-size: 0.8rem;
                }

                .review-count {
                    font-size: 0.5rem;
                    text-decoration: underline;
                }
            }

            .btn {
                background: #03bfa1;
                font-size: 0.7rem;
                padding: 0.5rem 2rem;
                margin: 1rem 0rem;
                border-radius: 5px;
            }

            .desc {
                font-size: 0.7rem;
                color: #2f3c3a;
                text-align: center;
                font-style: italic;
                padding: 0rem 4rem;

                .site {
                    padding: 1rem 0rem;
                    text-decoration: underline;
                }
            }
        }

        .companynews {
            .title {
                color: #155147;
                font-family: auto;
                font-weight: 700;
                font-size: 1.5rem;
                // border-bottom: 1px solid #155147;
                text-decoration: underline;
                @apply mb-4;
            }

            .cards {
                display: flex;
                flex-direction: column;

                .newscard {
                    display: flex;
                    margin: 0.5rem 0rem;

                    img {
                        width: 6rem;
                        height: 7rem;
                        border-radius: 5px;
                    }

                    .content {
                        font-size: 0.9rem;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 1rem;
                    }
                }
            }
        }

        .readmore {
            .btn {
                padding: 1rem 0rem;
                width: 100%;
                border: 2px solid gray;
                border-radius: 5px;
            }
        }
    }
}

#dropdown {
    width: 1rem;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;

    &:focus {
        outline: none;
    }
}


.featured-builder-banner {
    @apply w-full pt-6 pb-12;

    h3 {
        font-size: 2.25rem;
        color: #000000;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: .75rem;
        text-decoration-color: #03BFA1;
    }

    .featured-builder-slider {
        @apply flex items-center gap-8 relative;

        .carosolBtn {
            @apply absolute top-1/2 -translate-y-1/2 p-3 rounded-full flex items-center justify-center;


            span {
                @apply h-8 w-8;
                color: white;
                background-color: #155147;
                @apply rounded-full;
            }
        }

        img {
            height: 8rem;
            width: auto;
        }
    }
}

.featured-properties-banner {
    @apply w-full pt-6;

    h3 {
        font-size: 2.25rem;
        color: #000000;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: .75rem;
        text-decoration-color: #03BFA1;
        text-align: center;
    }

    .properties-box {

        @apply grid grid-cols-3 h-[40rem] w-full;

        .properties {
            @apply h-full relative transition-all duration-300;
            background-image: url("../asset//images/properties1.png");
            background-position: center;

            background-size: cover;

            * {
                @apply transition-all duration-300;
            }


            &:hover {
                &::after {
                    background: linear-gradient(195.63deg, rgba(14, 168, 142, 0) 24.59%, rgba(16, 90, 78, 0.8811) 72.33%);

                }

                .bottom {
                    @apply bottom-full translate-y-full;

                    .title,
                    .description {
                        color: white;
                    }

                    .viewMoreBtn {
                        color: #080808;
                        background: white;

                    }
                }
            }








            &::after {
                content: "";
                @apply absolute transition-all duration-300 left-0 top-0 h-full w-full;
                z-index: 1;
                background: linear-gradient(188.98deg, rgba(11, 70, 60, 0) 26.83%, rgba(255, 255, 255, 0.92) 70.1%);

            }

            .bottom {
                @apply py-16 w-full px-5 flex flex-col gap-6 absolute bottom-0 left-0;
                z-index: 2;

                .title {
                    color: #155147;
                    font-size: 2.25rem;
                    font-weight: 600;

                }

                .description {
                    color: #535454;
                    font-size: 1.25rem;

                }

                .viewMoreBtn {
                    color: white;
                    font-size: 1.25rem;
                    background: #03BFA1;
                    @apply w-fit flex px-4 py-2 items-center rounded-full;
                    gap: 10px;



                    span {
                        height: 1rem;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}

.featured-agents-banner {
    @apply w-full pt-6 pb-12;

    h3 {
        font-size: 2.25rem;
        color: #000000;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: .75rem;
        text-decoration-color: #03BFA1;
        text-align: center;
    }

    .agents-box {
        @apply flex gap-10 w-full relative;

        .Featured_Agents_Card {
            @apply w-full flex flex-col gap-3 items-center py-5 px-4;
            border-radius: 1.25rem;
            background: #E0F0EE;
            box-shadow: 7px 4px 19px 0px #0000000F;

            img {
                height: 7rem;
                width: 7rem;
                border-radius: 100%;
            }

            .title {
                color: #155147;
                @apply text-2xl font-bold text-center;
            }

            .subTitle {
                color: #4B5755;

                @apply text-base font-semibold text-center;
            }

            .microTitle {
                color: #155147;

                @apply text-lg font-bold text-center;
            }

            .description {
                color: #4B5755;

                @apply text-sm font-semibold text-center;
            }

            .callUsBtn {
                @apply py-2 px-7 flex rounded-3xl items-center gap-2 text-sm font-extrabold text-white;
                background: #155147;

                img {
                    @apply h-9 w-9;
                }
            }
        }
    }
}

.popular-cities-banner {
    @apply w-full pt-6 pb-12;

    .left {

        h3 {
            font-size: 2.25rem;
            color: #000000;
            font-weight: 500;
            text-decoration: underline;
            text-underline-offset: .75rem;
            text-decoration-color: #03BFA1;
            text-align: center;
        }

        .description {
            color: #505655;
            @apply text-xl;

        }
    }

    .popularCities-box {
        @apply w-full flex gap-8 relative justify-center;

        .popularCities {
            background-position: center;

            background-size: cover;
            @apply h-[12.5rem] w-[20rem] rounded-2xl relative overflow-hidden;

            &::after {
                content: "";
                @apply absolute transition-all duration-300 left-0 top-0 h-full w-full;
                z-index: 1;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.38%, #242828 92.71%);

            }


            .bottom {
                @apply px-3 py-3 absolute w-full bottom-0 flex justify-between items-center;
                z-index: 2;

                .left {
                    color: white;

                    .title {
                        font-size: 1.125rem;
                        font-weight: 700;
                        @apply mb-1;
                    }

                    .location {
                        font-size: .975rem;
                        @apply mb-2;
                    }
                }

                .right {
                    .ratting {
                        span {
                            display: inline-block;
                            height: 1.125rem;
                            width: 1.125rem;
                            color: yellow;
                        }

                        p {
                            font-size: .625rem;
                            font-weight: 600;
                            color: white;
                        }
                    }
                }
            }

            .detailsBtn {
                @apply px-4 py-2 rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-xs font-semibold;
                z-index: 2;
                background: #FFFFFFCC;
                color: #155147;

            }
        }
    }
}

.our-blogs-banner {
    @apply grid grid-cols-5 w-full pt-6 pb-6 gap-5 relative;
    background: #EDEDED99;

    h3 {
        font-size: 2.25rem;
        color: #000000;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: .75rem;
        text-decoration-color: #03BFA1;
        text-align: center;
    }

    .description {
        color: #414D4B;
        @apply text-lg;

        a {
            @apply text-xl font-bold;
        }
    }



    .our_blog {
        @apply h-[36rem] w-full overflow-hidden relative rounded-3xl;
        background-position: center;
        background-size: cover;

        // &:not(:first-child) {
        //     @apply scale-50;
        // }

        .bottom {
            @apply absolute gap-2.5 bottom-0 w-full flex flex-col px-5 py-6;
            background: #155147;
            color: white;

            .titleAndDate {
                color: #0AFFD8;
                @apply text-2xl font-bold;

                .date {
                    @apply text-xl font-semibold;
                }

            }

            .title {
                font-size: 1.75rem;
                font-weight: 700;
                color: white;
            }

            .profilePic {
                @apply h-16 w-16 rounded-full;
            }

            .name {
                @apply text-2xl;
                color: white;
            }

            .time {
                @apply text-base;
                font-weight: 300;
                color: white;
            }
        }
    }

    .our_blog.small {
        @apply h-[22rem] rounded-3xl;


        .bottom {
            @apply gap-2.5 bottom-0 px-3 py-4;
            background: #155147;
            color: white;

            .titleAndDate {
                @apply text-xl;

                .date {
                    @apply text-sm;
                }

            }

            .title {
                font-size: 1.25rem;

            }

            .profilePic {
                @apply h-14 w-14 rounded-full;
            }

            .name {
                @apply text-xl;
            }

            .time {
                @apply text-sm;
            }
        }
    }


    .carosolBtn {
        @apply static translate-y-0 translate-x-0 p-3 rounded-full flex items-center justify-center;

        &:hover {
            span {
                background-color: #15514780;

            }
        }

        span {
            @apply h-8 w-8;
            color: white;
            background-color: #155147;
            @apply rounded-full;
        }
    }
}

.contactUs-banner {
    @apply grid grid-cols-2 w-full pt-6 pb-6 relative;

    h3 {
        font-size: 2.25rem;
        color: #000000;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: .75rem;
        text-decoration-color: #03BFA1;
        text-align: center;
    }

    .left {
        img {
            @apply w-full;
        }
    }

    .right {
        .phoneNo {
            @apply text-xl flex items-center gap-2;

            img {
                @apply h-8;
            }
        }

        .email,
        .web {
            @apply text-lg flex items-center gap-2;

            img {
                @apply h-8;
            }
        }



    }

    .contactUsForm {
        @apply flex flex-col gap-3 w-full;

        input,
        textarea {
            @apply px-4 text-base w-full py-5 rounded-xl;
            border: 1px solid #15514761;
            background: #DDFBF63B;
            color: #656767;


        }
    }
}

footer {
    @apply pt-14 pb-6 grid grid-cols-3 gap-14;
    background: #2F3C3A;
    color: white;

    .description {
        @apply text-base;
    }

    .title {
        @apply text-2xl font-bold mb-6;
    }

    .contactDetails {
        @apply text-xl;
        font-weight: 300;
    }

    .newsletter {
        @apply text-2xl font-medium mb-6;
    }

    input {
        color: #00000080;
        @apply px-4 py-2 rounded text-sm w-full mb-2;
        background-color: white;

    }

    .subscribeBtn {
        @apply w-full p-2;
        background: #03BFA1;
        color: #00000080;
    }

    .copyrightDiv {
        @apply col-span-3 w-full text-center pt-6 text-sm;
        font-weight: 300;
        border-top: 1px solid #FFFFFF80;
    }
}

.pageBreadcrumb {
    @apply flex justify-between items-center text-sm font-medium;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #000000;

    button {
        @apply flex items-center gap-1 text-sm font-medium;

        &:hover {
            color: #03BFA1;
        }

        span {
            @apply inline-block h-4 w-4;
        }
    }

}

.projectDetails-gallery {
    .top {
        @apply flex items-center justify-between mb-4;

        h3 {
            @apply text-4xl font-bold;
        }

        .right {
            @apply flex items-center gap-10;

            button {
                @apply text-sm font-medium pb-2 px-1;

                &.active {
                    border-bottom: 2px solid #03BFA1;
                }
            }
        }
    }

    .gallery {
        @apply relative grid grid-cols-4 grid-rows-2 gap-4 mb-8;
        max-height: 32rem;

        img {
            @apply rounded-md w-full h-full;
        }

        .imageCount-carosel {
            @apply absolute bottom-5 right-4 flex gap-2 items-center;
            color: white;

            >div {
                background: #000000A1;
                @apply py-2 px-4 rounded-full;
            }

            .count {
                @apply text-xl flex items-center gap-2;

                span {
                    @apply inline-block h-5;
                }
            }

            .btns {

                button {

                    &:hover {
                        color: #757575;
                    }

                    span {
                        @apply inline-block h-6 w-6;
                        ;
                    }
                }
            }

        }
    }
}

.projectDetails-main {
    @apply grid grid-cols-3 gap-4 mb-10;

    .left {
        @apply col-span-2;

        .bilder {
            @apply flex items-center gap-2 mb-1;

            img {
                @apply w-10;
            }

            .name {
                @apply text-2xl font-semibold;
            }
        }

        .locaiton {
            @apply flex items-center gap-2 mb-1;

            span {
                @apply h-4 w-4;
            }

            color: #535454;

            p {
                @apply text-xl;


            }
        }

        .review {
            @apply flex items-center gap-2 mb-4;

            span {
                @apply h-5 w-5;
                color: yellow;
            }

            p {
                @apply font-medium text-xl;

                span {
                    @apply text-lg font-normal ml-2;
                    color: #757575;


                }
            }
        }

        p.listing-status {
            @apply text-2xl;

            span {
                @apply font-medium;
                color: #FF8A00;

            }
        }

        p.price {
            color: #155147;
            @apply text-3xl font-bold mb-4;

        }

        .project-highlights {
            @apply grid grid-cols-3 pr-10 gap-4 mb-4;

            .item {
                p.title {
                    color: #03BFA1;
                    @apply text-xl font-medium;

                }

                span {
                    img {
                        width: 1.5rem;
                        height: auto
                    }
                }

                p {
                    color: #000000;
                    @apply text-sm font-medium;

                }
            }
        }

        p.description {
            color: #535454;
            @apply text-2xl italic;

            span {
                @apply font-semibold;
            }

        }

        .avalilable-homes {
            @apply mt-6;

            p.title {
                color: #155147;
                @apply not-italic text-3xl mb-3 font-bold underline underline-offset-2;

            }

            .links {
                @apply flex gap-4 items-center mb-3;

                button {
                    @apply text-xl font-medium;

                    &:hover,
                    &.active {
                        color: #03BFA1;
                    }
                }

            }

            p.gray {

                color: #535454;
            }

            p {
                @apply text-lg italic mb-2;

                span {
                    @apply font-semibold;
                }

                a {
                    @apply underline;
                }

            }

        }


    }

    .right {
        @apply col-span-1;

        .contact-sales-center {
            @apply w-full rounded-xl;
            background: #155147D4;
            color: white;
            padding: 2rem 1rem;

            .btn {
                @apply w-full py-3.5 rounded-lg flex justify-center gap-1;


                span {
                    @apply h-5 w-5;
                }
            }

            .top {
                @apply px-10 flex flex-col items-center;

                * {
                    @apply text-center;
                }

                .img {
                    height: 9rem;
                    width: 9rem;
                    border: 2px solid #FFFFFFF0;
                    border-radius: 100%;
                    @apply mb-4 overflow-hidden;


                    img {
                        width: 100%;
                    }
                }

                .name {
                    @apply text-2xl font-medium;

                }

                .designation {
                    @apply text-xl mb-2;
                }

                .view-profile-link {
                    @apply text-lg mb-4 font-medium;
                    color: #0AFFD8;

                }

                .call-now-btn {
                    background-color: white;
                    color: #155147;
                    @apply mb-3;

                }

                .msg-btn {
                    color: white;
                    background: #03BFA1;
                    @apply mb-8;


                }
            }

            .form {
                @apply pt-5;

                .title {
                    @apply text-2xl mb-4 text-center font-semibold;

                }

                form {
                    @apply grid grid-cols-2 gap-3;

                    .inputBox {
                        @apply p-3 text-lg rounded-md;
                        font-weight: 300;
                        background: #BDF1E830;

                        input,
                        textarea {
                            @apply w-full
                        }

                    }

                    .note-para {
                        @apply text-xs;
                        font-weight: 300;
                    }

                    .req-btn {
                        background: #FF8A00;

                    }
                }
            }
        }
    }

    .highlited-details {
        @apply px-10 py-8 rounded-lg mb-4 col-span-3;
        background: #D9D9D966;

        p.title {
            @apply text-3xl mb-2 font-medium;

        }

        p.para {
            @apply text-xl italic;
            color: #000000B2;

            a {
                @apply underline underline-offset-2;
            }

        }
    }

    .features-amenitis-details {
        @apply col-span-3 grid grid-cols-2 gap-4;

        .feature-details {
            @apply rounded-lg px-9 py-6;
            background: #F7F7F7;

            p.title {
                @apply text-4xl mb-4 underline underline-offset-2 font-bold text-center;
                color: #155147;

            }

            p.subtitle {
                @apply text-xl text-center mb-8 font-medium;
                // color: #155147;
            }

            p.para {
                @apply text-lg italic;
                color: #000000B2;

                span {
                    @apply font-bold;
                }
            }
        }

        .amenitis-details {
            @apply rounded-lg px-9 py-6;
            background: #F7F7F7;

            p.title {
                @apply text-4xl mb-10 underline underline-offset-2 font-bold text-center;
                color: #155147;

            }

            .list {
                @apply grid grid-cols-2 gap-4;

                .item {
                    @apply flex items-center mb-3 gap-2;
                    color: #155147;

                    span {
                        height: 1.25rem;
                        width: 1.25rem;
                    }

                    p {
                        @apply text-lg;
                    }
                }

            }
        }
    }
}

.constraction-banner-section {
    @apply grid grid-cols-3;

    img {
        width: 100%;
        height: 100%;
    }

    .content {
        @apply p-4;

        p.title {
            @apply text-2xl mb-3 font-bold text-center;
            color: #155147;

        }

        p.para {
            @apply text-lg italic text-center;
            color: #000000B2;

            span {
                @apply font-bold;
            }

        }
    }

    .links-details {
        @apply col-span-3 mt-10;

        .highlited-details {
            @apply px-10 py-8 rounded-lg mb-4 col-span-3;
            background: #D9D9D966;

            p.title {
                @apply text-3xl mb-2 font-medium text-center;

            }

            p.para {
                @apply text-xl italic text-center;
                color: #000000B2;

                a {
                    @apply underline underline-offset-2;
                }

            }
        }
    }
}